<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Data Quality Checker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <main class="page-container">

        <section class="header-section">

            <h1>CSV Data Quality Checker</h1>

            <p>Upload one or more CSV files to generate data quality reports.</p>

        </section>

        <!-- Upload card-->
        <section class="upload-card">

            <h2> Upload CSV Files</h2>

            <!--display error if one exists (called Jinja template syntax)-->
            {% if error %}

            <p class="error-message">
                {{ error }}
            </p>

            {% endif %}

            <!-- Upload form -->

            <form method="post" enctype="multipart/form-data" class="upload-form">

                <label for="csv_files"> Choose CSV File(s):</label>

                <input type="file" id="csv_files" name="csv_files" accept=".csv" multiple>

                <button type="submit"> Upload and Analayse</button>

            </form>

        </section>
    </main>
    
</body>
</html>

