<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Data Quality Checker</title>
</head>
<body>
    <h1>CSV Data Quality Checker</h1>

    <p>Upload a CSV file to generate a data quality report.</p>

    <!--display error if one exists (called Jinja template syntax)-->
    {% if error %}
        <p>{{ error }}</p>  
    {% endif %}

    <form method="post" enctype="multipart/form-data">

        <label for="csv_file"> Choose CSV File:</label>

        <input type="file" id="csv_file" name="csv_file" accept=".csv">

        <button type="submit"> Upload and Analayse</button>
    </form>
</body>
</html>

